on fs
    setprop sys.usb.ffs.aio_compat 1

    wait /dev/block/platform/15570000.ufs
    symlink /dev/block/platform/15570000.ufs /dev/block/bootdevice
    symlink /dev/block/platform/15570000.ufs/by-name/SYSTEM /dev/block/platform/15570000.ufs/by-name/system

on post-fs-data
    # avoid USB crash
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0
